<p-speeddial class="fixed bottom-16 right-16" (onClick)="visible = true"/>
<p-dialog header="Add new transaction" [modal]="true" [(visible)]=visible [style]="{ width: '25rem' }">
  <div class="flex items-center gap-4 mb-4">
    <label for="amount" class="font-semibold w-24">Amount</label>
    <input pInputText id="amount" class="flex-auto" autocomplete="off" [(ngModel)]="amount" />
  </div>
  <div class="flex items-center gap-4 mb-8">
    <label for="category" class="font-semibold w-24">Category</label>
    <input pInputText id="category" class="flex-auto" autocomplete="off" [(ngModel)]="category"/>
  </div>
  <div class="flex items-center gap-4 mb-8">
    <label for="payee" class="font-semibold w-24">Payee</label>
    <input pInputText id="payee" class="flex-auto" autocomplete="off" [(ngModel)]="payee"/>
  </div>
  <div class="flex items-center gap-4 mb-8">
    <label class="font-semibold w-24">Type</label>
    <p-select  [options]="transactionTypes" [(ngModel)]="type" optionLabel="label" placeholder="Type of transaction" class="flex-auto"/>
  </div>
  <div class="flex items-center gap-4 mb-8">
    <label class="font-semibold w-24">Date</label>
    <p-datepicker [(ngModel)]="date"></p-datepicker>
  </div>

  <div class="flex justify-end gap-2">
    <p-button label="Cancel" severity="secondary" (click)="visible = false" />
    <p-button label="Save" (click)=onSave() />
  </div>
</p-dialog>
<div class="grid gap-8 p-8">
  <div class="grid grid-flow-col gap-4" *ngIf="data?.accountById">
    <p-card header="Income">
      <span>{{ data.accountById.income }}</span>
    </p-card>

    <p-card header="Expense">
      <span>{{ data.accountById.expense }}</span>
    </p-card>

    <p-card header="Balance">
      <span>{{ data.accountById.balance }}</span>
    </p-card>
  </div>

  <p-card header="Transaction history" *ngIf="data" class="max-w-3/4">
    <p-timeline [value]="data?.transactions">
      <ng-template #opposite let-transaction>
        <small class="text-surface-500 dark:text-surface-400">{{ formatDate(transaction.date, "MM/dd/yy", "en-US") }}</small>
      </ng-template>
      <ng-template #content let-transaction>
        <div class="flex justify-between">
          <div>
            <p>{{transaction.payee }}</p>
            <p-chip>{{ transaction.category }}</p-chip>
          </div>
          <p>{{ transaction.amount }}</p>
        </div>
      </ng-template>
    </p-timeline>

    <a routerLink="/transactions" class="p-button font-bold">
      See all transactions
    </a>
  </p-card>

  <a routerLink="/budget" class="p-button font-bold">
    Set up budget
  </a>
</div>

