<p-speeddial class="fixed bottom-16 right-16" (onClick)="visible = true"/>
<app-add-transaction
  [(visible)]="visible"
  [onSave]="onSave.bind(this)"
  [(amount)]="amount"
  [(payee)]="payee"
  [(date)]="date"
  [(categoryLabels)]="categoryLabels"
  [(category)]="category"
  [transactionTypes]="transactionTypes"
  [(type)]="type"
/>
<div class="grid gap-8 p-8">
  <div class="grid grid-flow-col gap-4" *ngIf="data?.accountById">
    <p-card header="Income">
      <span>{{ data.accountById.income }}</span>
    </p-card>

    <p-card header="Expense">
      <span>{{ data.accountById.expense }}</span>
    </p-card>

    <p-card header="Balance">
      <span>{{ data.accountById.balance }}</span>
    </p-card>
  </div>

  <p-card header="Transaction history" *ngIf="data" class="max-w-3/4">
    <p-timeline [value]="data?.transactions">
      <ng-template #opposite let-transaction>
        <small class="text-surface-500 dark:text-surface-400">{{ formatDate(transaction.date, "MM/dd/yy", "en-US") }}</small>
      </ng-template>
      <ng-template #content let-transaction>
        <div class="flex justify-between">
          <div>
            <p>{{transaction.payee }}</p>
            <p-chip>{{ transaction.category.name }}</p-chip>
          </div>
          <p>{{ transaction.amount }}</p>
        </div>
      </ng-template>
    </p-timeline>

    <a routerLink="/transactions" class="p-button font-bold">
      See all transactions
    </a>
  </p-card>

  <a routerLink="/budget" class="p-button font-bold">
    Set up budget
  </a>
</div>

